terraform {
  backend "s3" {
    bucket         = "terraform-state"
    dynamodb_table = "s3-terraform-state-lock"
    key            = "terraform-aws/ec2-selfservice/ec2/UPDATEENV/terraform.tfstate"
    region         = "ap-south-1"
    encrypt        = true
  }
}

